.shift-card {
  position: relative;
  height: 50px;
  padding: 5px 10px;
  margin-bottom: 20px;

  border: 1px solid #ddd;
  border-radius: 4px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__title {
    background-color: white;
    padding: 0 5px;

    position: absolute;
    top: -10px;
    left: 10px;
  }

  &__details {
    margin-left: 50px;
    padding: 15px;

    font-size: 20px;
    font-weight: bold;

    color: #555;
  }
}