.content-panel-header {
  margin-bottom: 10px;
  padding: 10px;

  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0;
    padding: 5px 10px;
    font-size: 1.5rem;
    color: #333;
  }
}

.content-panel {
  padding: 10px 20px;
}