.shifts {

  &__header {
    margin-bottom: 10px;
    padding: 10px;

    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__content {
    padding: 20px;
  }
}

.shifts-select {
  margin: 10px;
  padding: 10px;
  font-size: 16px;

  border: none;
}