// Mobile nav overlay
$primary-color: #1a1b1c;
$secondary-color: #536285;

$primary-background: #ffffff;
$secondary-background: #e8e8e8;
$primary-background-offset: #282c34;

// Base layout styles
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $secondary-background;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;

  font-family: Roboto, sans-serif;

  &__header { 
    background-color: transparent;
    color: $primary-color;
    display: flex;
    align-items: center;
    padding: 0 10px;

    &--logo {
      font-size: 1.5rem;
      margin-right: 7px;
      a {
        color: $primary-color;
        text-decoration: none;
      }
    }

    &--title {
      margin: 0;
      font-size: 1.5rem;
      a {
        color: $primary-color;
        text-decoration: none;
      }
    }
  } 

  &__main {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-bottom: 70px;;
  }

  &__footer {
    width: 100vw;
    height: 60px;
    padding: 5px 0;

    position: fixed;
    left: 0;
    bottom: 0;

    background-color: $primary-background;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    border-top: 1px solid #ddd;
    text-align: center;
    z-index: 100;
  }
}

// desktop layout
@media (min-width: 701px) {
  .layout {
    &__main {
      grid-template-columns: 180px 1fr;
      padding-bottom: 0;
    }

    &__sidebar-nav {
      display: block;
    }

    &__nav {
      height: 100vh;
      align-items: center;
      margin: 20px;

      &--link {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-gap: 20px;
        align-items: center;
        justify-content: flex-start;

        font-size: 18px;
        font-weight: bold;
        line-height: 50px;

        color: $primary-color;
        text-decoration: none;

        transition: color 0.2s;

        i {
          font-size: 25px;
          margin-bottom: 5px;
        }

        &:hover,
        &.active {
          color: $primary-color;
        }
      }
    }

    &__footer {
      display: none;
    }
  }
}

// mobile layout
@media (max-width: 700px) {
  .layout {
    grid-template-rows: 50px 1fr;

    &__header {
      &--menu-btn {
        display: block;
      }
    }

    &__main {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__sidebar-nav {
      display: none;
    }    

    &__nav {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: space-around;
      align-items: center;

      &--link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        text-decoration: none;
        font-size: 14px;
        padding: 8px;
        height: 100%;
        transition: color 0.2s;

        color: $secondary-color;

        i {
          font-size: 22px;
          margin-bottom: 5px;
        }

        &:hover,
        &.active {
          color: $primary-color;
        }
      }
    }
    
  }

}