@use "../Assets/Styles.scss" as styles;

// Base layout styles
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: styles.$card;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;

  font-family: Roboto, sans-serif;

  &__header { 
    color: styles.$primary-color;
    font-size: 1.5rem;

    &--title {
      margin: 0;
      padding: 10px;

      background-color: styles.$primary;
      color: #fff;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  } 

  &__main {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-bottom: 70px;
  }

  &__footer {
    width: 100vw;
    height: 60px;
    padding: 5px 0;

    position: fixed;
    left: 0;
    bottom: 0;

    background-color: styles.$primary-background;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    border-top: 1px solid #ddd;
    text-align: center;
    z-index: 100;
  }
}

// desktop layout
@media (min-width: 701px) {
  .layout {
    &__header {
      display: grid;
      grid-template-columns: 180px 1fr;

      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--main {
        display: grid;
        grid-template-columns: 1fr 200px;

        background-color: styles.$background;
        padding-left: 20px;
        align-items: center;

        &--current-page {
          font-size: 1.2rem;
          font-weight: 500;
        }

        &--user {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 8px;
          color: styles.$primary;
          font-size: 16px;
          padding-right: 20px;

          &:hover {
            color: styles.$secondary;
            cursor: pointer;
          }
        }
      }
    }

    &__main {
      grid-template-columns: 180px 1fr;
      padding-bottom: 0;
    }

    &__sidebar-nav {
      display: block;
      background-color: styles.$background;
    }

    &__nav {
      height: 100vh;
      align-items: center;
      margin: 20px;

      &--link {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-gap: 10px;
        align-items: center;
        padding: 0 8px;
        margin-bottom: 5px;

        font-size: 16px;
        line-height: 50px;

        color: styles.$text-secondary;
        text-decoration: none;

        transition: color 0.2s;

        i {
          font-size: 25px;
          margin-bottom: 5px;
        }

        &.active {
          color: #fff;
          background-color: styles.$primary;
          border-radius: 5px;
        }

        &:hover {
          color: #fff;
          background-color: styles.$secondary;
          border-radius: 5px;
        }
        
      }
    }

    &__footer {
      display: none;
    }
  }
}

// mobile layout
@media (max-width: 700px) {
  .layout {
    grid-template-rows: 50px 1fr;

    &__header {
      height: 50px;

      &--main {
        display: none;
      }

      &--menu-btn {
        display: block;
      }
    }

    &__main {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__sidebar-nav {
      display: none;
    }    

    &__nav {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: space-around;
      align-items: center;

      &--link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        text-decoration: none;
        font-size: 14px;
        padding: 8px;
        height: 100%;
        transition: color 0.2s;

        color: styles.$text-secondary;

        i {
          font-size: 22px;
          margin-bottom: 5px;
        }

        &:hover,
        &.active {
          color: styles.$primary;
        }
      }
    }
    
  }

}