body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;

  font-family: Roboto, sans-serif;

  &__header {
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;

    &--title {
      margin: 0;
      font-size: 1.5rem;
    }
  } 

  &__main {
    display: grid;
    grid-template-columns: 100px 1fr;

    &--nav {
      background-color: #f4f4f4;
    }

    &--nav-link {
      display: block;
      color: #34415c;
      text-decoration: none;

      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      i {
        font-size: 26px;
        margin: 0 0 2px 0;
        display: block;
      }
      span {
        font-size: 14px;
        display: block;
      }

      &:hover {
        background-color: #ddd;
      }

      &.active {
        background-color: #455c89;
        color: #fff;
        font-weight: bold;
      }
    }

    &--content {
      padding: 20px;
    }
  }

  &__footer {
    background-color: #f1f1f1;
    text-align: center;
    line-height: 50px;
  }
}