$primary-color: #1a1b1c;
$secondary-color: #0850d6;
$tertiary-color: #a5cff3;
$off-primary-color: #44474b;

$hover-color: #a5cff3;

$primary-background: #ffffff;
$secondary-background: #e8e8e8;
$primary-background-offset: #282c34;

// Potential new colors
$primary: #FF5A2C; 
$secondary: #f6af9c;

$background: #F7F7F7;
$card: #FFFFFF;

$text: #1A1A1A;
$text-secondary: #555555;

$success: #22C55E;
$warning: #F59E0B;
$danger: #EF4444;